        <div class="col-md-8 col-centered welcomepage">
            <h1>Welcome to InfiniWorld!</h1>
            <p>InfiniWorld is a procedurally generated map that can be scrolled (nearly) infinitely in all directions.</p>
            
            <p>It's mostly an opportunity for me to play around with algorithms that create an interesting world.</p>

            <p>
	            <a class="btn btn-success" href="#/x/0/y/0/">Start exploring!</a>
            </p>
            
            <p>For more information:</p>
            <ul>
              <li><a href="https://github.com/EmileKroeger/infiniworld/">Sources on Github</a></li>
              <li>My Blog, <a href="https://themadmapmaker.wordpress.com/">The Mad Mapmaker</a></li>
            </ul>
        </div>
