<div class="container-fluid" ng-if="loaded" panhandler>
  

  <!--
  <div style="font-family: Symbola">ℜℝ℟℠</div>
  <div class="navarrow">ℛ ℞ ℡ ™</div>
    15, 30
  -->
    
  
  <div ng-repeat="y in range(y0, y0 + 15)" class="row">
    <div infiniworld-cell
      ng-repeat="x in range(x0, x0 + 30)"
      ng-click="select(x, y);"
      class="col-xs-1 surfacecell"
      world="world"
      pos="{'x': x, 'y': y}"
      altitude="world.altitude(x, y)"
      population="world.population(x, y)"
      temperature="world.temperature(x, y)"
      humidity="world.humidity(x, y)"
      dynamic="false"
      selected="(selectedPos.x == x) && (selectedPos.y == y)"
      >
    </div>
    <div 
      ng-repeat="arrow in navarrows[$index]"
      ng-click="moveMap(arrow.dx, arrow.dy);"
      class="navarrow col-xs-1"
      >
      {{arrow.chr}}
    </div>
  </div>
  <div class="infobox col-md-3" infiniworld-cell-info pos="selectedPos" world="world" cell="world.getCell(selectedPos)">
  </div>
</div>
