<div
  ng-if="loaded"
  class="infobox col-md-3"
  infiniworld-cell-info pos="selectedPos" world="world" cell="world.getCell(selectedPos)"
  >
</div>

<div
 style="width: 100%; height: 100%;"
 class="mapframe" 
 ng-if="loaded"
 ng-style="{'cursor': scroll.dragging ? 'grabbing' : 'grab'}"
 ng-mousedown="scroll.handleMouseDown($event);"
 ng-mousemove="scroll.handleMouseMove($event);"
 ng-mouseup="scroll.handleMouseUp($event);"
 >

 <div class="scrollablemap" ng-style="{'left': scroll.left+'px', top: scroll.top+'px'}">

 <!-- 
  <div ng-repeat="chunk in visibleChunks"
    style = "z-index: 500; position: absolute; background-color: grey;"
    ng-style="{'left': chunk.left, 'top': chunk.top}"
  >
    {{chunk.x0 / 8}}<br>{{chunk.y0 / 8}}
  </div>
   -->
 <div class="cellselection"
   style="border: 2px dashed white; z-index: 150; position: absolute; width: 20px; height: 20px"
   ng-style="selectedstyle"
   >
 </div>

 <div ng-repeat="chunk in visibleChunks">
  <div ng-repeat="cell in chunk.cells"
    infiniworld-cell
    style="position: absolute;"
    ng-style="cell.style"
    ng-click="select(cell.x, cell.y);"
    class="col-xs-1 surfacecell"
    world="world"
    pos="{'x': cell.x, 'y': cell.y}"
    altitude="cell.altitude"
    population="cell.population"
    temperature="cell.temperature"
    humidity="cell.humidity"
    dynamic="false"
    >
  </div>
 </div>
</div>
</div>
