<div>
  <div ng-if="!pos">
    Nothing selected
  </div>
  <div ng-if="pos">
    &nbsp;{{biome}} ({{pos.x}}, {{pos.y}})
    <div infiniworld-cell
      class="col-xs-1 surfacecell"
      altitude="world.altitude(pos.x, pos.y)"
      population="world.population(pos.x, pos.y)"
      temperature="world.temperature(pos.x, pos.y)"
      humidity="world.humidity(pos.x, pos.y)"
      dynamic="true"
      >
    </div>
    <!--
    <br>Cell at {{cell.altitude}}
    <p>Nation colors: {{city.nation.colors}}</p>

      -->
    
    <div ng-if="city">
      <h3>{{city.name}}</h3>
      <p>In the {{city.nation.name}}</p>
      <p>{{city.description}}, ruled by {{city.ruler}}.</p>
      <ul>
        <li ng-repeat="feature in city.features">
          {{feature}}
        </li>
      </ul>
      <p>Population</p>
      <ul>
        <li>{{city.race}}</li>
      </ul>
      <div ng-if="city.factions.length">
        Factions:
        <ul>
        <li ng-repeat="faction in city.factions">
          {{faction}}
        </li>
      </ul>
      </div>
    </div>
  </div>
</div>
