<div>
  <div ng-if="!pos">
    Nothing selected
  </div>
  <div ng-if="pos">
    {{biome}} ({{pos.x}}, {{pos.y}})
    <div infiniworld-cell
      class="col-xs-1 surfacecell"
      altitude="world.altitude(pos.x, pos.y)"
      population="world.population(pos.x, pos.y)"
      temperature="world.temperature(pos.x, pos.y)"
      humidity="world.humidity(pos.x, pos.y)"
      dynamic="true"
      selected="true"
      >
    </div>
    <!--
    <br>Cell at {{cell.altitude}}
      -->
    
    <h3 ng-if="cityname">{{cityname}}</h3>
  </div>
</div>
