<div class="cellleftear" ng-style="::{'border-right-color': color}">
</div>
<div class="cellrightear" ng-style="::{'border-left-color': color}">
</div>
<div ng-class="biome" ng-style="::style" class="cellmiddle">
  {{::glyph}}
  <div ng-if="::city">
    <div class="cityname" ng-style="::{'color': city.nation.maincolor}">{{::city.name}}</div>
    <div class="cityflag" ng-style="::{'background': city.nation.colors}">
    </div>
  </div>
  <div ng-if="::overglyph" class="surfacecell overcell" ng-style="::overstyle">
    {{::overglyph}}
  </div>
</div>
