body {
  margin-top: 60px;
  padding: 10px;
  background-color: #ECF0F1;
}

@font-face {
    font-family: "Symbola";
    src: url("Symbola.ttf");
}

.navarrow {
  font-family: Symbola;
}

.surfacecell {
  padding: 0;
  margin: 0;
  border: 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 17px;
  font-family: Symbola;
  text-align: center;
}

.overcell {
  position: absolute;
  color: black;
  left: 0;
  top: 0;
}

.infobox {
  border: 1px solid black;
  background-color: grey;
  position: absolute;
  top: 150px;
  left: 750px;
}

.sea {
  background-color: rgb(0%, 0%, 80%);
  color: rgb(0%, 0%, 85%);
}

.mountain {
  color: rgb(30%, 30%, 30%);
}

.tundra {
  color: green;
}

.forest {
  color: darkgreen;
}

.swamp {
  color: darkbrown;
}

.plains {
  color: green;
  background-color: lightyellow;
}
