body {
  margin-top: 60px;
  padding: 10px;
  background-color: #ECF0F1;
}

.surfacecell {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  border: 0;
  text-align: center;
}

.sea {
  background-color: blue;
  color: lightblue;
}

.mountain {
  color: white;
  background-color: grey;
}

.forest {
  color: darkgreen;
  background-color: green;
  font-family: symbola;
}

.plains {
  color: green;
  background-color: lightyellow;
}
